body {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color: #8c80cc;
    margin: 0;
    padding: 0;
    padding: 35px 20px;
  }
  
  .container {
    margin-top: 50px;
  }
  
  h1 {
    color: #aecfeb;
  }
  
  p {
    color: #aecfeb;
  }
  
  button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #30237c;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #7f72ce;
  }